## NumPy Arrays

**Numpy provides:**
1. extension package to Python for multi-dimensional arrays
2. cloaser to hardware(efficiency)
3. designed for scientific computation(convenience)
4. Also known as array oriented computing

In [4]:
import numpy as np
a = np.array([0,1,2,3])
print(a)

print(np.arange(10))

[0 1 2 3]
[0 1 2 3 4 5 6 7 8 9]

**Why it is useful:** Memory-efficient container that provides fast numerical operations.

In [2]:
# Python lists
L = range(1000)
%timeit [i**2 for i in L]

448 µs ± 6.93 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [5]:
a = np.arange(1000)
%timeit a**2

2.14 µs ± 67 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

Creating arrays
====

**1.1 Manual Construction of arrays**

In [6]:
# 1-D

a = np.array([0,1,2,3])
a

array([0, 1, 2, 3])

In [7]:
a.ndim

1

In [8]:
a.shape

(4,)

In [9]:
len(a)

4

In [15]:
# 2-D,3-D

b = np.array([[0,1,2],[3,4,5]])
b

array([[0, 1, 2],
       [3, 4, 5]])

In [11]:
b.ndim

2

In [12]:
b.shape

(2, 3)

In [16]:
len(b)

2

In [17]:
c = np.array([[[0,1],[2,3]],[[4,5],[6,7]]])
c

array([[[0, 1],
        [2, 3]],

       [[4, 5],
        [6, 7]]])

In [18]:
c.ndim

3

In [19]:
c.shape

(2, 2, 2)

**1.2 Functions for creating arrays**

In [20]:
# Using arange function
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [21]:
b = np.arange(1,10,2)# start, end (exclusive), step
b

array([1, 3, 5, 7, 9])

In [22]:
# using linespace
a = np.linspace(0, 1, 6)#start, end, number of points
a

array([0. , 0.2, 0.4, 0.6, 0.8, 1. ])

In [23]:
# common array
a = np.ones((3,3))
a

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [34]:
b = np.zeros((3,3))
print(b)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [35]:
# Create an identity matrix
c = np.eye(3)
print(c)
d = np.eye(3,2)
print(d)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
[[1. 0.]
 [0. 1.]
 [0. 0.]]

In [36]:
# Creating array using diag function
a = np.diag([1,2,3,4])#construct a diagonal array.
a

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

In [38]:
np.diag(a)#Extract diagonal

array([1, 2, 3, 4])

In [39]:
# Create array using random 
a = np.random.rand(4)
a

array([0.51959397, 0.78973266, 0.34389231, 0.45538138])

In [41]:
a = np.random.randn(4)#Return a sample from the "Standard Normal Distribution"
a

array([-1.57084784, -0.2251116 ,  0.99045448, -1.01102214])

Basic Data Types
=====

In [43]:
a = np.arange(10)
a.dtype

dtype('int32')

In [44]:
a = np.arange(10, dtype='float64')
a

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

**other datatypes**

In [48]:
d = np.array([1+2j, 2+4j])
d.dtype

dtype('complex128')

In [50]:
s = np.array(['Ram', 'Robert', 'Rahim'])
s.dtype

dtype('<U6')

In [51]:
a = np.arange(10)
print(a[5])

5

In [52]:
a = np.diag([1,2,3])
a

array([[1, 0, 0],
       [0, 2, 0],
       [0, 0, 3]])

In [53]:
a[2,2]

3

In [54]:
a[2,1]=5
a

array([[1, 0, 0],
       [0, 2, 0],
       [0, 5, 3]])

In [55]:
# Slicing
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [57]:
a[1:8:2]#[start_index: end_index(exclusive): step]

array([1, 3, 5, 7])

In [58]:
a[5:] = 10
a

array([ 0,  1,  2,  3,  4, 10, 10, 10, 10, 10])

Elementwise Operation
======

1. Basic Operations

**with Scalsrs**

In [59]:
a = np.array([1,2,3,4])
a+1

array([2, 3, 4, 5])

In [60]:
a**2

array([ 1,  4,  9, 16], dtype=int32)

In [61]:
b = np.ones(4) + 1
a - b

array([-1.,  0.,  1.,  2.])

In [62]:
a * b

array([2., 4., 6., 8.])

In [65]:
# Matrix Multiplication
c = np.diag([1,2,3,4])
print(c * c)
print("********************")
print(c.dot(c))

[[ 1  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0 16]]
********************
[[ 1  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0 16]]

In [66]:
# Load data into numpy array object
data = np.loadtxt('populations.txt')
data

array([[ 1900., 30000.,  4000., 48300.],
       [ 1901., 47200.,  6100., 48200.],
       [ 1902., 70200.,  9800., 41500.],
       [ 1903., 77400., 35200., 38200.],
       [ 1904., 36300., 59400., 40600.],
       [ 1905., 20600., 41700., 39800.],
       [ 1906., 18100., 19000., 38600.],
       [ 1907., 21400., 13000., 42300.],
       [ 1908., 22000.,  8300., 44500.],
       [ 1909., 25400.,  9100., 42100.],
       [ 1910., 27100.,  7400., 46000.],
       [ 1911., 40300.,  8000., 46800.],
       [ 1912., 57000., 12300., 43800.],
       [ 1913., 76600., 19500., 40900.],
       [ 1914., 52300., 45700., 39400.],
       [ 1915., 19500., 51100., 39000.],
       [ 1916., 11200., 29700., 36700.],
       [ 1917.,  7600., 15800., 41800.],
       [ 1918., 14600.,  9700., 43300.],
       [ 1919., 16200., 10100., 41300.],
       [ 1920., 24700.,  8600., 47300.]])

In [67]:
year, hare, lynx, carrot = data.T
print(year)

[1900. 1901. 1902. 1903. 1904. 1905. 1906. 1907. 1908. 1909. 1910. 1911.
 1912. 1913. 1914. 1915. 1916. 1917. 1918. 1919. 1920.]

In [70]:
# The mean population over time
populations = data[:, 1:]
populations

array([[30000.,  4000., 48300.],
       [47200.,  6100., 48200.],
       [70200.,  9800., 41500.],
       [77400., 35200., 38200.],
       [36300., 59400., 40600.],
       [20600., 41700., 39800.],
       [18100., 19000., 38600.],
       [21400., 13000., 42300.],
       [22000.,  8300., 44500.],
       [25400.,  9100., 42100.],
       [27100.,  7400., 46000.],
       [40300.,  8000., 46800.],
       [57000., 12300., 43800.],
       [76600., 19500., 40900.],
       [52300., 45700., 39400.],
       [19500., 51100., 39000.],
       [11200., 29700., 36700.],
       [ 7600., 15800., 41800.],
       [14600.,  9700., 43300.],
       [16200., 10100., 41300.],
       [24700.,  8600., 47300.]])

In [71]:
# Simple standard deviation
populations.std(axis=0)

array([20897.90645809, 16254.59153691,  3322.50622558])

In [72]:
# Which species has the highest population each year?
np.argmax(populations, axis=1)

array([2, 2, 0, 0, 1, 1, 2, 2, 2, 2, 2, 2, 0, 0, 0, 1, 2, 2, 2, 2, 2],
      dtype=int64)

Broadcasting
=====

In [73]:
a = np.tile(np.arange(0,40,10),(3,1))
print(a)
print('**************')
a = a.T
print(a)

[[ 0 10 20 30]
 [ 0 10 20 30]
 [ 0 10 20 30]]
**************
[[ 0  0  0]
 [10 10 10]
 [20 20 20]
 [30 30 30]]

In [75]:
b = np.array([0,1,2])
b

array([0, 1, 2])

In [76]:
a + b

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22],
       [30, 31, 32]])

In [78]:
# Flattening
a = np.array([[1,2,3],[4,5,6]])
a.ravel()#Return a contiguous flattened array.

array([1, 2, 3, 4, 5, 6])

In [79]:
b = a.reshape((3,2))
b

array([[1, 2],
       [3, 4],
       [5, 6]])

> 1D array - Vector<br>
  2D array - Matrix<br>
  nD array(3,4 or higher) - Tensor